@model MonitoramentoAmbiental.Models.Parque

<h2 class="text-center my-4">Cadastrar Parque</h2>

<form asp-action="Create" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="Nome" class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" id="Nome" required />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Localizacao" class="form-label">Localização</label>
        <input asp-for="Localizacao" class="form-control" id="Localizacao" required />
        <span asp-validation-for="Localizacao" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="/Parque/Index" class="btn btn-secondary">Cancelar</a>
</form>
